#block {
    width: 200px;
    height: 100px;
    background: green;
}
.menu-item{
    border: 2px solid #000;
    display: inline-block;
    position: relative;
    cursor:pointer;
}
.menu-item .submenu{
    height: 40px;
    width: 120px;
    background:rgb(245, 6, 6);
    position: absolute;
    cursor: pointer;
}